@font-face {
  font-family: "Spectral Bold";
  src: url("./fonts/Spectral-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Montserrat Light";
  src: url("./fonts/Montserrat-Light.ttf") format("truetype");
}
html, body
{
  height: 100%;
}

/* Header */
header {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 15vh;
  z-index: 999;
}
section {
  display: flex;
  align-items: center;
  flex-direction: column;
}
section h1 {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  font-family: "Spectral Bold", serif;
  animation: grow 1.5s steps(18, end);
  font-size: calc(12px + 6vw);
}
section div {
  animation: grow 1s forwards 1s;
  height: 2px;
  width: 0;
  background-color: black;
  margin-bottom: 1em;
}
section h2 {
  animation: slide-in 1s forwards 2s;
  opacity: 0;
  margin: -2em;
  font-size: calc(12px + 3vw)
}

/* The typing effect */
@keyframes grow {
  from {
    width: 0
  }
  to {
    width: 8em
  }
}
@keyframes slide-in {
  0% {
    opacity: 0;
    margin-top: -2em;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}


/* Dishes */
main {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  position: relative;

}

main section{
  animation-play-state: running;
  min-width: 30vw;
  max-width: 40vw;
  position: absolute;
  opacity: 0;
  height: max-content;
}

@keyframes slide-food {
  to {
    position: relative;
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
}
/* Egg */
main section:first-of-type {
  transform-style:preserve-3d;
  transition: 0.5s;
  perspective: 20em;
  left: 45%;
  top: 2%;
  transform: translate(-35%, 8%) scale(0);
  animation: slide-food 1s cubic-bezier(.58,.01,.5,1.5) 3.5s forwards;
}
main section:first-of-type:hover article {
  animation: boiling-egg 4s ease-in infinite;
  transform: rotateX(.5turn);
  transition: transform 1s cubic-bezier(.58,.01,.29,.87) .5s;
}

main section:first-of-type article {
  position:relative;
  transform-origin: bottom;
  width: 45vw;
  height: 35vw;
  border-radius: 36% 69% 70% 43% / 40% 58% 60% 70%;
  animation: boiling-egg 4s ease-in infinite;
  transform: rotateX(0turn);
  transition: transform 1s;
}

/* Front egg dish*/
main section:first-of-type article:first-of-type {
  background-color: antiquewhite;
  background: radial-gradient(
    ellipse at 10% 15.5%,
    #f1edcf 7%,
    antiquewhite 7%
  );
  backface-visibility: hidden;
  z-index: 10;
}

/* Back egg dish*/
main section:first-of-type article:last-of-type {
  position:absolute;
  top: 0;
  left: 0;
  background-color: antiquewhite;
  background:
    radial-gradient(circle at 36% 82%, #f3e0a9 5px, transparent 2px),
    radial-gradient(circle at 55% 38%, #f3e0a9 23px, transparent 2px),
    radial-gradient(circle at 36% 22%, #f3e0a9 12px, transparent 2px),
    radial-gradient(circle at 39% 61%, #f3e0a9 10px, transparent 2px),
    radial-gradient(circle at 72% 32%, #f3e0a9 5px, transparent 2px),
    radial-gradient(circle at 88% 50%, #f3e0a9 12px, transparent 2px),
    radial-gradient(circle at 20% 43%, #f3e0a9 11px, transparent 2px),
    radial-gradient(circle at 65% 65%, #f3e0a9 11px, transparent 2px),
    radial-gradient(circle at 74% 79%, #f3e0a9 11px, transparent 2px),
    radial-gradient(circle at 21% 75%, #f3e0a9 11px, antiquewhite 2px);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

}


/* Egg Yolk */
main section:first-of-type article:first-of-type div {
  background:
    radial-gradient(
      ellipse at 50% 50.5%,
      #ecc45e 7%,
      transparent 7%
    ),
    radial-gradient(
      ellipse at 52% 51%,
      #fffd87 5%,
      transparent 5%
    ),
    radial-gradient(
      ellipse at center,
      #ecc45e 10%,
      transparent 10%
    );
  background-position: 50% 50%;
  background-size: 200% 200%;
  animation: runny-egg 5s cubic-bezier(.58,.01,.29,.87) infinite;
  width: 100%;
  height: 100%;
  animation-play-state: running;
}
/* Egg text */
main section:first-of-type article:last-of-type h3 {
  transform: rotateX(180deg);
  font-size: calc(12px + 3vw);
  font-family: "Spectral Bold", serif;
}


/* Egg Animations */
@keyframes runny-egg {
  0% { background-position: 50% 50%; }
  20% { background-position: 54% 45%; }
  40% { background-position: 45% 50%; }
  60% { background-position: 45% 48%; }
  80% { background-position: 46% 51%; }
  100% { background-position: 50% 50%;}

}
@keyframes boiling-egg {
  0% {
    border-radius: 36% 69% 70% 43% / 40% 58% 60% 70%;
  }
  50% {
    border-radius: 40% 80% 70% 30% / 40% 40% 60% 57%;
  }
  100% {
    border-radius: 36% 69% 70% 43% / 40% 58% 60% 70%;
  }

}

/*Toast*/
main section:nth-child(2) {

  left: -35%;
  top: 7%;
  transform: translate(100%, 50%) scale(0);
  animation: slide-food 1s cubic-bezier(.58,.01,.5,1.5) 4.5s forwards;
}
main section:nth-child(2) article {
  width: 100%;
  height: max-content;

}
/*main section:nth-child(2) article:hover svg {*/
/*  animation: rotating-toast 5s infinite;*/
/*  animation-play-state: running;*/
/*}*/
main section:nth-child(2) article:hover svg g {

}
main section:nth-child(2) article svg {
  transform: rotate3d(26, -6, 15, 321deg);
  animation-play-state: paused;
}
main section:nth-child(2) article svg path:nth-child(5){
  color: #fff;
}

@keyframes rotating-toast {
  to {
    transform: rotate3d(26, -6, 15, 0deg);
  }
}

@media screen and (max-width: 43em) {
  main section:first-child {
    left: 35%;
    top: 2%;

  }
  main section:nth-child(2) {
    left: 0;
    top: 20%;
  }
}
